.container {
  display: flex;
  width: 100%;
  height: 90vh;
  gap: 10px;
  margin: 0 0;
  padding: 0px 20px;
  background-color: #f4f5f7;
  box-sizing: border-box;
}

.leftContainer {
  flex: 3;
  background-color: #ffffff;
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(192, 192, 192);
  overflow: auto;
}

.mobileContainer{
  display: none;
}

.ChatVideoViewChatContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 96%;
  background: #f9fafa;

}

.rightContainer {
  display: flex;
  flex: 7.5;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

@media (max-width:768px) {
  .container {
   display: none;
  }
  .mobileContainer{
    display: flex;
    width: 100%;
    overflow-x: hidden;
  }
}