

   .container {
    width: 100%;
    max-width: 850px;
    max-height: 510px;
    height: auto;
    padding: 20px;
    background-color: #f4f2ee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .certificateContainer {
    width: 100%;
    max-width: 810px;
    height: auto;
    max-height: 472px;
    border: 2px solid #d4af37;
    padding: 10px;
    background-color: #f4f2ee;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  
  .header {
    color: #000;
    z-index: 1;
  }
  
  .headerH1 {
    font-family: 'Acme', sans-serif;
    font-size: 4vw;
    font-weight: 100;
    letter-spacing: 10px;
    color: #32312f;
    z-index: 1;
  }
  
  .headerH2 {
    font-family: 'Acme', sans-serif;
    font-size: 2vw;
    font-weight: 100;
    letter-spacing: 10px;
    color: #bb822d;
    z-index: 1;
  }
  
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .bodyP {
    font-family: 'Manrope', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #000;
  }
  
  .bodyH2 {
    height: 70px;
    width: 100%;
    max-width: 500px;
    border-bottom: 2px solid #bb822d;
    font-family: 'Acme', sans-serif;
    font-size: 1.8rem;
    font-weight: 100;
    margin: 5px 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  
  .course {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
  }
  
  .courseP {
    font-size: 0.9rem;
  }

  
  .certificateNumber {
    font-size: 0.75rem;
    text-align: right;
  }
  
  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
  }
  
  .signatureP {
    font-size: 1rem;
    font-weight: 700;
    width: 170px;
    height: 30px;
    border-bottom: 2px solid #bb822d;
    color: #000;
  }
  
  .detailsP {
    font-size: 1rem;
    color: #000;
    text-align: left;
  }
  
  .logo {
    width: 180px;
    height: 130px;
  }
  
  .line {
    width: 200px;
    height: 10px;
   
  }
  
  .backgroundImage {

    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    background-size: contain;
    background-image: url("../../img/Logo1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f4f2ee;
    opacity: 0.1;
    z-index: 0;
  }

  @media (max-width:768px){
    .certificateNumber {
      font-size: 0.6rem;
      text-align: center;
    }

      
  .bodyP {
    font-size: 1rem;
    letter-spacing: 1px;
   
  }

    
  .line {
    width: 150px;
    height: 10px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .signatureP {
    font-size: 0.7rem;
    font-weight: 700;
    width: 120px;
    height: 20px;
    border-bottom: 2px solid #bb822d;
    color: #000;
  }
  .Designation{

    font-size: 0.8rem;
  }
  
  .detailsP {
    font-size: 0.8rem;
  }
  
  .logo {
    width: 120px;
    height: 90px;
  }
  }
  
   