.previewModalFooter {
    display: flex;
    align-items: center;
    gap:10px;
}

.previewHeader {
    padding: 9px 24px!important;
    background: #cacaca;
    font-size: 18px!important;
    box-shadow: 0px 0px 6px 0px;
}