.searchFor {
    font-style: italic;
}


.coursesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(320px, 1fr));
    gap: 10px;
    /* padding: 10px; */
    box-sizing: border-box;
    align-items: start;
}


.googleResults {
    padding :10px;
}

.googleResult a {
    color : blue;
}


.googleResult  {
    /* background-color: rgba(192, 192, 192, 0.082); */
}