.drawerContainer {
    width: 400px !important;
}

.drawerContainer input {
    border: 1px solid #333;
    width: 100%;
    padding: 4px 10px;
}

.drawerContainer h6 {
    text-align: left;
    width: 100%;
    margin-bottom: 5px!important;

}

.errorField {
    position: absolute;
    text-align: left;
    font-size: 12px !important;
    color: red !important;
    /* top: 0px; */
    font-style: italic;
}

.errorFieldPasswordStrength {
    position: absolute;
    text-align: left;
    font-size: 12px !important;
    color: red !important;
    bottom: 0px;
    font-style: italic;
}